.twotruthsonelie{
    border-width: thick;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    background-color: grey;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%;
    padding: 20px;
}

.title{
    color: lightgreen;
    text-align: center;
}

.facts{
    color: blue;
    float: left;

}

.details{
    color:red;

}

.block{
    border-width: medium;
    border-style: solid;
    border-color: hotpink;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    padding: 10px;
}