body{
    background-color:black;
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
}
.twotruthsonelie{
    border-width: thick;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    background-color: #555555;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
}

.title{
    color: greenyellow;
    text-align: center;
    font-size: 4rem;
    
}

.facts{
    color: blue;
    float: left;
    padding-right: 10px;
    height: 100%;
    display: block;
    width: 30%;
}

.details{
    color:black;
    display: block;
    
}

.block{
    border-width: medium;
    border-style: solid;
    border-color: hotpink;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 25px hotpink;
}